.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(22, 14, 184);
  color: white;
  padding: 7px;
  font-size: 2em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav a {
  color: white;
  text-decoration: none;
}


.table{
  display:flex;
  justify-content: space-between;
  padding-left: 3em;
  padding-right: 3em;
  /* border-bottom: solid black; */
  height: 48px;
}

.list{
  display: flex;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  color: white;
}

.stocks{
  width:  35%;
  text-align: left;
  border-bottom: solid black;
  font-size: larger;
  color: white;
}

.stocks2{
  text-align: center;
}


.price  {
  text-align: right;
  color: white;
  /* text-decoration: none; */
}

.h1{
  color: white;
}

.h3{
  text-decoration: underline;
  color: white;
  text-align: center
 }
 .p1{
  text-decoration: underline;
  color: white;
  text-align: center
 }